<!DOCTYPE html>
<html lang="en">

<div id="app">
    {{ message}}
    <h1>{{number}}</h1>
    <h1>Is valid = {{isValid}}</h1>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>
    new Vue({
        el : '#app',
        data: {
            message: 'Hello Joie!',
            number: 1,
            isValid: true,
        }

    })
</script>